# Ignores Python virtual environment folder:
.venv/

# Ignores environemnt variable settings file:
*.env

# Allows example file only to be added to VC:
!.example.env

# Ignores any workspace VSCode settings:
.vscode/

# Ignores pycache files in any directories:
**__pycache__/

# Ignores unnecessary Django stuff:
*.log
local_settings.py
**/db.sqlite3*