{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <!-- Page title (shown in windows and tabs) -->
  <title>Spice of Life - Recipes made easy</title>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/recipes.css' %}" rel="stylesheet" />
</head>

<div>{% include 'navbar.html' %}</div>

<main>
  <section class="py-2 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="btn-group">
          <button class="btn btn-secondary btn-lg bg-white" type="button" onClick="location.href='new'">
            Get New Recipes!
          </button>
          <button
            type="button"
            class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split bg-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <a class="dropdown-item" href="#">Vegetarian</a>
            <a class="dropdown-item" href="#">Vegan</a>
            <a class="dropdown-item" href="#">Pescatarian</a>
          </ul>
        </div>
        <button type="button" class="btn btn-lg btn-outline-success" onClick="location.href='/recipes/list'">
          Shopping List
        </button>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="album py-5 bg-none">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


          {% for hit in weeklyRecipes.hits|slice:":7" %}
          <div class="col">
            <div class="card shadow-sm">
              
              <img class="card-img-top" src="{{ hit.recipe.image }}"/>

              <div class="card-body">
                <p class="card-text">{{ hit.recipe.label }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-success"
                    >
                      Yum
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-danger">
                      Yuck
                    </button>
                  </div>
                  <a href="{{ hit.recipe.url }}" class="btn btn-sm btn-primary" target="_blank">
                    See Recipe
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            No Recipes
          {% endfor %}



        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
