<!doctype html>
{% load static %}
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="title">
            <h1>Recipe Generator</h1>
        </div>
        <div id="main">
            <div id="header" class="padding">
                <div id="preferences">
                    <h3>Preferences</h3>
                </div>
                <div id="health_labels">
                    <form id="health">
                        <div class="padding">
                            <input type="checkbox" id="vegetarian" name="vegetarian" value="Vegetarian">
                            <label for="vegetarian">Vegetarian</label>
                            <input type="checkbox" id="vegan" name="vegan" value="Vegan">
                            <label for="vegan">Vegan</label>
                        </div>
                    </form>
                </div>
                <div id="get_recipes">
                    <button id="get_recipes_button" onClick="window.location.reload();">Get New Recipes</button>
                </div>
            </div>
            <div id="body">
                <div id="recipes" class="padding">
                    <h3>Recipes</h3>
                    {% for hits in contents.hits %}
                    <div id="recipe_title">{{ hits.recipe.label }}</div>
                    {% empty %}
                        No Recipes
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>