<!doctype html>
{% load static %}
<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="title">
            <h1>Recipe Generator</h1>
        </div>
        <div id="main">
            <div id="header" class="padding">
                <div id="preferences">
                    <h3>Preferences</h3>
                </div>
                <div id="health_labels">
                    <form id="health">
                        <div class="padding">
                            <input type="checkbox" id="vegetarian" name="vegetarian" value="Vegetarian">
                            <label for="vegetarian">Vegetarian</label>
                            <input type="checkbox" id="vegan" name="vegan" value="Vegan">
                            <label for="vegan">Vegan</label>
                        </div>
                    </form>
                </div>
                <div id="get_recipes">
                    <button id="get_recipes_button" onClick="window.location.reload();">Get New Recipes</button>
                </div>
            </div>
            <div id="body">
                <div id="recipes" class="padding">
                    <h3>Recipes</h3>
                    <div id="recipe_1">
                        <div id="recipe_title_1">{{ recipeTitle1.hits.0.recipe.label }}</div>
                        <div id="recipe_cuisine_1">Cuisine</div>
                        <div id="recipe_buttons_1">
                            <button id="recipe_button_like_1">Like</button>
                            <button id="recipe_button_dislike_1">Dislike</button>
                        </div>
                    </div>
                    <div id="recipe_2">
                      <div id="recipe_title_2">{{ recipeTitle1.hits.1.recipe.label }}</div>
                      <div id="recipe_cuisine_2">Cuisine</div>
                      <div id="recipe_buttons_2">
                          <button id="recipe_button_like_2">Like</button>
                          <button id="recipe_button_dislike_2">Dislike</button>
                      </div>
                    </div>
                    <div id="recipe_3">
                      <div id="recipe_title_3">{{ recipeTitle3 }}</div>
                      <div id="recipe_cuisine_3">Cuisine</div>
                      <div id="recipe_buttons_3">
                          <button id="recipe_button_like_3">Like</button>
                          <button id="recipe_button_dislike_3">Dislike</button>
                      </div>
                    </div>
                    <div id="recipe_4">
                      <div id="recipe_title_4">{{ recipeTitle4 }}</div>
                      <div id="recipe_cuisine_4">Cuisine</div>
                      <div id="recipe_buttons_4">
                          <button id="recipe_button_like_4">Like</button>
                          <button id="recipe_button_dislike_4">Dislike</button>
                      </div>
                    </div>
                    <div id="recipe_5">
                      <div id="recipe_title_5">{{ recipeTitle5 }}</div>
                      <div id="recipe_cuisine_5">Cuisine</div>
                      <div id="recipe_buttons_5">
                          <button id="recipe_button_like_5">Like</button>
                          <button id="recipe_button_dislike_5">Dislike</button>
                      </div>
                    </div>
                    <div id="recipe_6">
                      <div id="recipe_title_6">{{ recipeTitle6 }}</div>
                      <div id="recipe_cuisine_6">Cuisine</div>
                      <div id="recipe_buttons_6">
                          <button id="recipe_button_like_6">Like</button>
                          <button id="recipe_button_dislike_6">Dislike</button>
                      </div>
                    </div>
                    <div id="recipe_7">
                      <div id="recipe_title_7">{{ recipeTitle7 }}</div>
                      <div id="recipe_cuisine_7">Cuisine</div>
                      <div id="recipe_buttons_7">
                          <button id="recipe_button_like_7">Like</button>
                          <button id="recipe_button_dislike_7">Dislike</button>
                      </div>
                    </div>
                </div>
                <div id="shopping_list" class="padding">
                    <h3>Shopping List</h3>
                    <div id="ingredient">
                        <div id="ingredient_title">Ingredient</div>
                        <div id="ingredient_quantity_measure">
                            <div id="ingredient_quantity">100</div>
                            <div id="ingredient_measure">g</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>